{% extends main.html %} {% block content %} {% if error_msg is not None
%}
<div class="alert">
	<strong>Warning!</strong> {{error_msg}}
</div>
{% else %} {% if len(cluster_names) > 0 %}
<h3>Spark clusters detected</h3>
<table class="table table-hover">
	<tr>
		<td><b>Name</b></td>
		<td><b>Key Pair</b></td>
		<td><b>Cluster</b></td>
		<td><b>Status</b></td>
	</tr>
	{% for name in cluster_names %}
		{% if len(dict_masters.get(name)) > 0 %}
			<tr>
				<td><a href="/cluster/{{name}}">{{name}}</a><br /></td>
					<td>{{dict_masters.get(name)[0].key_name}}</td>
					<td>{{len(dict_masters.get(name))}} Master{% if len(dict_masters.get(name))>1 %}s{% end %} - {{len(dict_slaves.get(name))}} Slave{% if len(dict_slaves.get(name))>1 %}s{% end %}</td>
					<td>
						{% if dict_masters.get(name)[0].state=="running"%}
							<img src="/static/img/status_green.gif">
						{% elif dict_masters.get(name)[0].state=="stopped" %} 
							<img src="/static/img/status_red.gif">
						{% end %}
						{{dict_masters.get(name)[0].state}}
					</td>
			</tr>
		{% end %}
	{% end %}
</table>
{% else %}
<div class="alert alert-success">No cluster yet! Go ahead to
	create one!</div>
{% end %}
<br />
<a class="btn btn-primary" href="/new_cluster">New cluster</a>
{% end %} {% end %}

