<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Spark-Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<style>
body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
{% block head_content %}{% end %}
</head>

<body>
	<div id="about" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">About</h3>
		</div>
		<div class="modal-body">
			<p>Spark-Admin is developed by <a href="http://adatao.com" target="_blank">Adatao</a>. You can check out the latest version at <a href="https://github.com/adatao/spark-admin" target="_blank">https://github.com/adatao/spark-admin</a></p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
		</div>
	</div>
	
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="/"> <img src="/static/img/logo.png">
					Spark-Admin
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/settings">Settings</a></li>
						<li><a href="/static/server.log" target="_blank">Server
								Logs</a></li>
						<li><a href="#about" data-toggle="modal">About</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">{% block content %}{% end %}</div>
	<!-- /container -->

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
